.about-project__description-title {
  margin: 0;
  margin-bottom: 26px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

@media (max-width: 768px) {
  .about-project__description-title {
    margin-bottom: 22px;
  }
}

@media (max-width: 320px) {
  .about-project__description-title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
  }
}
