.auth__button-submit {
  width: 100%;
  margin: 0 0 16px;
  padding: 14px 0;
  border: 2px solid #000;
  border-radius: 3px;
  background: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.35s ease-in opacity
}

.auth__button-submit:hover {
  opacity: 0.8;
}
