.header__profile-link {
  padding: 8px 20px;
  background-color: #F9F9F9;
  border-radius: 20px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  transition: 0.35s ease-in background-color;
}

.header__profile-link:hover {
  background-color: #EEE;
}

@media (max-width: 768px) {
  .header__profile-link {
    display: none;
    visibility: hidden;
  }
}
