.header__auth-link_theme_dark {
  padding: 8px 20px;
  background: #000;
  border-radius: 3px;
  color: #fff;
}

@media (max-width: 320px) {
  .header__auth-link_theme_dark {
    padding: 5px 12px;
  }
}
