.card-list__cards {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 24px;
  list-style: none;
}

@media (max-width: 768px) {
  .card-list__cards {
    grid-gap: 36px 30px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}

@media (max-width: 320px) {
  .card-list__cards {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}
