.not-found__message {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 320px) {
  .not-found__message {
    font-size: 12px;
    line-height: 15px;
  }
}
