.nav-tab__link {
  width: 96px;
  padding: 10px 0;
  background-color: #E8E8E8;
  border-radius: 10px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: 0.35s ease-in background-color;
}

.nav-tab__link:hover {
  background-color: #DDD;
}

@media (max-width: 320px) {
  .nav-tab__link {
    width: 82px;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 10px;
    line-height: 16px;
  }
}
