.profile__button-submit {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  padding: 15px 0;
  background: #000;
  border: none;
  border-radius: 3px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.35s ease-in-out opacity;
}

.profile__button-submit:hover {
  opacity: 0.8;
}
