.card-list__card-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .card-list__card-image {
    height: 190px;
  }
}

@media (max-width: 320px) {
  .card-list__card-image {
    height: 170px;
  }
}
