.about-me__my-dopinfo {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media (max-width: 768px) {
  .about-me__my-dopinfo {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 320px) {
  .about-me__my-dopinfo {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
}
