.profile__input-error {
  margin: 0 0 10px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
}

.profile__input-error:nth-child(2) {
  margin: 0;
}
