.profile__button {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.35s ease-in opacity;
}

.profile__button:hover {
  opacity: 0.75;
}
