.about-project__stage-name {
  margin: 0;
  padding-top: 14px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  text-align: center;
}

@media (max-width: 768px) {
  .about-project__stage-name {
    font-weight: 400;
  }
}

@media (max-width: 320px) {
  .about-project__stage-name {
    padding-top: 10px;
    font-size: 11px;
    line-height: 13px;
  }
}
